footer {
    color: rgb(184, 0, 0);
    text-align: center;
  }


header {
    color: rgb(254, 254, 255)
    }

.head_nav:link, .head_nav:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: URL;
}

.head_nav:link:active, .head_nav:visited:active {
  color: rgb(255, 255, 255);
}


.border2table, .border2th, .border2td {
  border: 1px solid;
}

.img100 {
  display: grid;
  height: 100%;
}

.img30 {
  max-width: 30%;
  max-height: 30vh;
  margin: auto;
}

.img75 {
  max-width: 175%;
  max-height: 175vh;
  margin: auto;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.head_hr { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0px;
  }